.homepage {
    padding: 50px 100px;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: $altDarkColor;
    background-image: url(../img/main_photo3.png);
    background-size: auto 100vh;
    background-position: right bottom;
    background-repeat: no-repeat;
    header {
        padding: initial;
        animation-name: titleAppears2;
        animation-duration: 3s;
        ul {
            display: flex;
            li {
                margin-left: initial;
                margin-right: 20px;
                list-style: none;
                transition: 0.2s;
                &:hover {
                    transform: translate(0, -3px);
                    transition: 0.2s;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: $lightColor;
                    &:hover {
                        color: $altLightColor;
                        background-color: initial;
                    }
                }
            }
        }
    }
    &__mainTitle {
        margin: 40px 0 40px -10px;
        animation-name: titleAppears;
        animation-duration: 2s;
        h2 {
            font-size: $hugeFontSize;
            line-height: $hugeFontSize;
            span {
                font-weight: 600;
                color: $primaryColor;
            }
        }
    }
    &__tagline {
        animation-name: titleAppears2;
        animation-duration: 4s;
        h1 {
            margin-top: 50px;
            font-size: $mainFontSize;
        }
    }
}

// Animations
@keyframes titleAppears {
    0% {
        margin-left: -110px;
        opacity: 0;
    }
    75% {
        margin-left: -110px;
        opacity: 0;
    }
    100% {
        margin-left: -10px;
        opacity: 1;
    }
}

@keyframes titleAppears2 {
    0% {
        margin-left: -110px;
        opacity: 0;
    }
    75% {
        margin-left: -110px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

// Tablet version
@media (max-width: $breakpointTablet) {
    .homepage {
        padding: 50px;
        &__mainTitle {
            margin: 40px 0 40px 0;
            animation-name: titleAppears2;
            h2 {
                font-size: $hugeFontSize * 0.8;
                line-height: $hugeFontSize * 0.8;
                div span:last-child {
                    display: none;
                }
            }
        }
        &__tagline {
            h1 {
                font-size: $mobileFontSize;
            }
        }
    }
}

// Small Tablet version
@media (max-width: $breakpointTabletSmall) {
    .homepage {
        background-size: auto 60vh;
    }
}

// Large Mobile version
@media (max-width: $breakpointMobileLarge) {
    .homepage {
        padding: 20px;
        max-width: 100vw;
        background-size: auto 60vh;
        header {
            display: none;
        }
        &__mainTitle {
            margin: 0;
            h2 {
                font-size: $h1FontSize;
                line-height: $h1FontSize;
            }
        }
        &__tagline {
            h1 {
                margin-top: 20px;
            }
        }
    }
}

// Download Resume Button (Desktop)
@media (min-width: $breakpointTablet) {
    .download_resume_btn {
        bottom: inherit;
        left: inherit;
        top: 20px;
        right: 20px;
    }
}